body {
    font-family: "omnes-pro","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    flex: 1;
    padding: 10px;
    border-radius: 40px;
    border: solid 2px;
}

img {
    max-height: 300px;
    flex: auto;
}

header {
    background-color: #F1C964;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
}

section {
    display: flex;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

section.hero {
    justify-content: space-between;
    background-color: #F1C964;
    justify-content: space-between;
    gap: 30px;
}  

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 20px;
    flex: auto;
    max-width: 500px;
    gap: 10px;
}

.text-content > h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    min-width: 425px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.hero-button {
    display: flex;
    align-items: center;
}
.hero-button a {
    flex: auto;
    max-width: 100px;
    font-weight: 600;
}
.hero-content {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
}

img.hero-image {
    max-height: 100%;
    max-width: 500px;
    flex: auto;
}
.logo {
    max-width: 300px;
    flex: 1;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;

}

.second {
    background-color: #EDEAE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.carousel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-flow: wrap;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    gap: 10px;
}

.image-card img {
    border: solid 2px;
    border-radius: 30px;
    width: 250px;
    flex: auto;
}
.image-card p {
    flex: 1;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 30px;
    margin: 0;
    background-color: #0C577F;
}

.third .quote-block {
    color: #EDEAE0;
    font-size: 36px;
    font-style: italic;
    align-self: center;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.signature {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #EDEAE0;
}
footer {
    background-color: #F1C964;
}