body {
    font-family: "roboto",sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    color: black;
    flex: 1;
    padding: 10px;
    border-radius: 40px;
    border: solid 2px;
}
header {
    background-color: #F1C964;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

section {
    display: flex;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

section.hero {
    justify-content: space-between;
    background-color: #F1C964;
    justify-content: space-between;
    gap: 30px;
}  

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    flex: auto;
    max-width: 500px;
}
.hero-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

img.hero-image {
    max-height: 100%;
    max-width: 500px;
    flex: auto;
}
.logo {
    max-width: 300px;
    flex: 1;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;

}

.second {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-flow: wrap;
}

img {
    max-width: auto;
    max-height: 200px;
    flex: 1;
    margin: 10;
}
footer {
    background-color: #F1C964;
}